:root{
    --article-header-font: 'Poppins', sans-serif;
    --article-header-font-weight: 600;
    --article-header-font-size: 10vh;
    --article-header-width: 65vw;

    --article-sub-header-font: 'Poppins', sans-serif;
    --article-sub-header-font-weight: 300;
    --article-sub-header-font-size: 2.34vw;
    --article-sub-header-width: 64.5vw;
    
    --read-play-icon-width: 2.6vw;
    --read-play-icon-height: auto;

    --read-play-text-font: 'Open Sans', sans-serif;
    --read-play-text-size: 3.38vh;
    --read-play-text-font-weight: 400;
    
    --article-content-font-size: 3.64vh;
    --article-content-font: 'Open Sans', sans-serif;
    --article-content-font-weight: 400;
    --article-content-width: 64.5vw;

    --more-article-card-header-font: 'Open Sans', sans-serif;
    --more-article-card-header-font-size: 4vh;
    --more-article-card-header-font-weight: 600;
    --left-margin: 3.95vw;

}

#article-content{
    position: relative;
    left: var(--left-margin);
}

/* header */
#article-content :nth-child(1){
    font-family: var(--article-header-font);
    font-weight: var(--article-header-font-weight);
    font-size: var(--article-header-font-size);
    width: var(--article-header-width);
}

/* sub-header */
#article-content :nth-child(2){
    position: inherit;
    font-family: var(--article-sub-header-font);
    font-weight: var(--article-sub-header-font-weight);
    font-size: var(--article-sub-header-font-size);
    width: var(--article-sub-header-width);
    top: -10vh;
}

#metabar{
    display: grid;
    position: relative;
    grid-template-columns: 2vw 11.5vw 2vw 11.8vw;
    grid-template-rows: 3vw;
    width: 24vw;
    top: -90px;
}

#metabar :nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    grid-column: 1/2;
    grid-row: 1/2;
}

#metabar :nth-child(2){
    position: absolute;
    top: 6px;
    margin: 0;
    left: 20px;
    grid-column: 2/3;
    grid-row: 1/2;

}
#metabar :nth-child(3){
    position: absolute;
    top: 0;
    left: 0;
    grid-column: 3/4;
    grid-row: 1/2;
}
#metabar :nth-child(4){
    position: absolute;
    top: 6px;
    margin: 0;
    left: 20px;
    grid-column: 4/5;
    grid-row: 1/2;
}
#metabar .icon{
    width: var(--read-play-icon-width);
    height: var(--read-play-icon-height);
}

#metabar .metatext{
    font-family: var(--read-play-text-font);
    font-size: var(--read-play-text-size);
    font-weight: var(--read-play-text-font-weight);
}

/* 1 to 6 child p of parent */
#article-body :nth-child(-n + 6){
    position: relative;
    font-size: var(--article-content-font-size);
    font-family: var(--article-content-font);
    font-weight: var(--article-content-font-weight);
    width: var(--article-content-width);
    letter-spacing: 0.5px;
    word-spacing: 0.2ch;
    line-height: 3ch;
    text-align: justify;
    top: -5vh;
    color: rgb(41, 40, 40);
    margin-bottom: 60px;
}

#article-body :first-child::first-letter{
    font-size: calc(var(--article-content-font-size) + 2ch);
    font-weight:500;
}

#article-body :first-child::first-line{
    position: relative;
    font-weight: 500;
}

#article-suggestion #cards{
    display: grid;
    grid-template-columns: repeat(4,auto);
    column-gap: 20px;
}

#article-suggestion #cards .card{
    display: flex;
    background-color: black;
    border-radius: 60px;
    width: 20vw;
    height: 36vh;
    text-align:center;
    z-index: 0;
}

#article-suggestion #cards .card:nth-child(1){
    grid-column: 1/2;
    grid-row: 1/2;
}
#article-suggestion #cards .card:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/2;
}
#article-suggestion #cards .card:nth-child(3){
    grid-column: 3/4;
    grid-row: 1/2;
}

#article-suggestion #cards #last-card{
    grid-column: 4/5;
    grid-row: 1/2;
    background-color: black;
    width: 1vw;
    height: 36vh;
    border-radius: 60px;
    z-index: 0;
}

#article-suggestion #cards #last-card #next-article{
    height: 11vh;
    width: auto;
    position: relative;
    top:100px;
    left: -18px;
    box-shadow: 0px 0px 0px 5px rgb(202, 202, 202);
    border-radius: 100%;
    background-color: black;
    z-index: 1;
}

/* card content header */
.card p{
    position: relative;
    color: white;
    font-family: var(--more-article-card-header-font);
    font-size: var(--more-article-card-header-font-size) !important;
    font-weight: var(--more-article-card-header-font-weight) !important;
    padding-left: 35px;
    padding-right: 25px;
    top: -20px;
    z-index: 1;
    
}

#cards .card img{
    position: relative;
    width: 18.8vw;
    height: 15.6vh;
    z-index: -1;
    top: 16vh;
    left: -165px;
    border-radius: 20px;
}

/* readmore */
#article-suggestion :first-child{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 5.46vh;
}

<<<<<<< HEAD
#app .header #menu-bar{
    background-color: rgba(255, 255, 255) !important;
    box-shadow: 0px 0px 20px 2px black;
}
=======

/* -------------------------------------------------------------- */

/* chat-bogt container start */
#chat-bot{
    /* visibility: hidden; */
    width: 35.3vw;
    height: 73vh;
    background-color: rgb(218, 218, 218);
    position: fixed;
    border-radius: 15px;
    bottom: 2vh;
    right: 0vw;
    z-index: 100;
}

#chat-bot #header-bot{
    height: 12vh;
    background-color:  #004aad;
    border-radius: 15px;
}
#chat-bot #header-bot #diana{
    position: absolute;
    height: 8vh;
    width: 4.5vw;
    top: 2vh;
    left: 2vw;
    border-radius:100%;
    box-shadow: 0px 0px 0px 5px white;
    float:left;
}
#chat-bot #header-bot img{
    position: absolute;
    height:auto;
    width: 3.5vw;
    top: 0.5vh;
    left: 0.5vw;
}
#chat-bot #bot-name{
    position: absolute;
    font-size: 5vh;
    left:8vw;
    top: -2.5vh;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

#chat-bot .user{
    position: absolute;
    height: 10.1vh;
    width: 17.13vw;
    background-color: rgb(162, 189, 225);
    border-radius: 55px;
}

#chat-bot .user:nth-child(2){
    position: absolute;
    bottom: 4vh;
    right: 1.5vw;
    background-color: rgb(162, 189, 225);
}
#chat-bot .user:nth-child(3){
    bottom: 32vh;
    right: 1.5vw;
    background-color: rgb(162, 189, 225);
}

#chat-bot .bot{
    position: absolute;
    height: 10.1vh;
    width: 17.13vw;
    background-color: rgb(162, 189, 225);
    border-radius: 55px;

}
#chat-bot .bot:nth-child(4){
    bottom: 18vh;
    left: 1.5vw;
}
#chat-bot .bot:nth-child(5){
    top: 18vh;
    left: 1.5vw;
}
/* chat-bogt container end */

/* msg-header container start */
#msg-header{
    position: fixed;
    display: flex;
    width: 35.3vw;
    height: 8vh;
    bottom: 2vh;
    right: 0vw;
    border-radius: 10px;
    background-color: rgb(218, 218, 218);
    z-index: 200;
}
#msg-header img{
    position: absolute; 
    top: 0.6vh;
    left: 1vw;
    width: 3.5vw;
    height: 6.5vh;
}
#msg-header p{
    position: absolute;
    top:-2.5vh;
    left: 15%;
    font-size: 4vh;
    font-family: 'Open sans', sans-serif;
    font-weight: 700;
}
/* msg-header container end */
>>>>>>> ffb052bfd624dbd99c02239dc34180479b3ad53a
