@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@100;200;500;600;800&display=swap');
:root{
    --bg-color: #e6e6e6;

    --service-holding-container-bgclr: #ffffff;
    --service-holding-container-width: 100vw;
    --service-holding-container-height:100vh;

    --service--container-bgclr: #dbdbdb;

    --top-bottom-banner-clr: rgb(0, 74, 173);

    --article-card-header-font: 'Poppins', sans-serif;
    --article-card-content-font: 'Poppins', sans-serif;
}

body{
    position: relative;
    background-color: var(--service-holding-container-bgclr);
    width: var(--service-holding-container-width);
    height: var(--service-holding-container-height);
    margin: 0 auto;
    overflow-x: hidden;
}

/* header container start*/
#app .header{
    background-color: var(--top-bottom-banner-clr) ;
    width: 100vw;
    min-width: calc(100vw / 100vw * 100);
    height: 15vh;
    min-height:15vh;
    display: flex;
    position: relative;
}
#app .header #img-logo{
    width: 5.5vw;
    height: 11vh;
    position: inherit;
    left: 2vw;
    margin-top: auto;
    margin-bottom: auto;
}
#app .header #input-box{
    background-color: var(--service-holding-container-bgclr);
    position: relative;
    width: 32.28vw;
    height: 7vh;
    left: 7vw;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 30px;
    padding: 0 0 0 40px;
    border: none;
    font-family:  'open sans' , sans-serif;
    font-size: 3.9vh;
    font-weight: 400;
    user-select: none;
}
#app .header #input-box::placeholder{
    position: relative;
    color: black;
    letter-spacing: 1px;
   
}
#app .header #input-box:focus{
    outline: 0;
}

#app .header #search{
    position: relative;
    width: 3vw;
    height: 6vh;
    left: 3.6vw;
    margin-top: auto;
    margin-bottom: auto;
}
#app .header p{
    position:inherit;
    color: #ffffff;
    font-size: 3.7vh;
    left: 7vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 1.7px;
    margin-top: auto;
    margin-bottom: auto;
}
#app .header #menu-btn{
    position: relative;
    width: auto;
    height: 5vh;
    margin-top: auto;
    margin-bottom: auto;
    left: 7.3vw;
}
#app .header #add-btn{
    display: flex;
    position: relative;
    color: #ffffff;
    width:16vw;
    height: 5vh;
    margin-top: auto;
    margin-bottom: auto;
    left: 40vw;
    border-radius: 15px;
    background-color: rgba(0, 0,0, 0.2);
    border: none;
}
#app .header #add-btn p{
    position: relative;
    letter-spacing: 5px;
    font-family: 'Open sans', sans-serif;
    font-weight: 700;
    font-size: 2vh;
    left: 2.5vw;
    margin-top: auto;
    margin-bottom: auto;
}
#app .header #ad-img{
    position: absolute;
    width: 2vw;
    height: 3.3vh;
    top: 0.8vh;
    left: 0.6vw;
}
/* header container end */

/* ---------------------------------------------------------- */

/* slide-show container start */
#app .slide-show{
    display: grid;
    width: 100vw;
    height: 70vh;
}
#app .slide-show div{
    position: relative;
    width: 100vw;
    height: 70vh;
    background-size:cover;
    object-fit: fill;
    background-position: center;
    background-repeat: no-repeat;
    animation-name: slide-show;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes slide-show {
   0%{
    background-image: url(../img/slide-show-1.jpg);
    width: 100vw;
    height: 67vh;
   }
   25%{
    background-image: url(../img/slide-show-2.jpg);
    width: 100vw;
    height: 67vh;
   }
   50%{
    background-image: url(../img/slide-show-3.jpg);
    width: 100vw;
    height: 67vh;
   }
   75%{
    background-image: url(../img/slide-show-4.jpg);
    width: 100vw;
    height: 67vh;
   }
   100%{
    background-image: url(../img/slide-show-5.jpg);
    width: 100vw;
    height: 67vh;
   }
}

#app .slide-show::after{
    content: 'Now, here comes the next part “the social engineering”, now figure out a way and use some';
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #ffffff;
    width: 50vw;
    font-size:8vh;
    top: 25vh;
    z-index: 100;
    left: 5vw;
    animation-name: slide-text;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes slide-text{
    0%{
        content: 'Career Cheat Codes I Know at 36 That I Wish I Knew at 26 (A)';
    }
    25%{
        content: 'How to hack any social media account?  (B)';
    }
    50%{
        content: 'How to use chatGPT for UI/UX design: 25 examples (C)';
    }
    75%{
        content: 'How I made ~5$ per day — in Passive Income (with an android app) (D)';
    }
    100%{
        content: '@Heading chatGPT for UI/UX design: (E)';
    }
}
/* slide-show container end */

/* ---------------------------------------------------------- */

/* scroller container start */
#app #scroller{
    display: grid;
    position: relative;
    width: 100vw;
    height: 30vh;
    top: -10vh;
}
#app #scroller #scrol-indicator{
    position: relative;
    /* color: #ffffff; */
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
    top: 2vh;
    font-size:4.33vh;
    letter-spacing: 2px;
}
#app #scroller #scrol-img{
    position: relative;
    width: auto;
    top: -8vh;
    height: 8vh ;
    margin-left: auto;
    margin-right: auto;
    animation-name: drop-down;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-direction: alternate ;
    animation-iteration-count: infinite;
}
@keyframes drop-down {
    0%{
        top:-2vh;
    }
    20%{
        top:-6vh;
    }
    40%{
        top:-2vh;
    }
    60%{
        top:-6vh;
    }
    80%{
        top:-2vh;
    }
    100%{
        top:-6vh;
    }
}
/* scroller-show container end */

/* ---------------------------------------------------------- */

/* content-holder container start*/
#app .content-holder{
    display: flex;
    padding: 20px;
    position: relative;
    width: 60vw;
    height: 38vh;
    left: 10%;
    top: -5vh;
    border-radius: 40PX;
    margin-bottom: 5vh;
    background-color: var(--service--container-bgclr) ;
}
#app .content-holder h6{
    position: absolute;
    font-family: 'Open sans', sans-serif;
    font-weight: 800;
    font-size: 2.2vw;
    width: 40vw;
    left: 5%;
    top: -15%;
}
#app .content-holder p{
    position: absolute;
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
    width: 40vw;
    left: 5%;
    top: 40%;
    font: bold;  
}
#app .content-holder img{
    position: absolute;
    height: 25vh;
    width: 13.7vw;
    float: right;
    top: 17%;
    text-align: center;
    right: 3%;
    border-color: #ffffff;
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
}
/* content-holder container end*/

/* ---------------------------------------------------------- */

/* footer container start*/
#app .footer{
    position: relative;
    background-color: var(--top-bottom-banner-clr);
    width: 100vw;
    height: 40vh;
    top: 20vh;
}
#app .footer #dev :first-child{
    position: relative;
    font-family: 'Open sans' , sans-serif;
    font-weight: 400;
    font-size: 5vh;
    font: bold;
    top: 12vh;
    left: 5%;
}
#app .footer #dev :nth-child(2){
    position: relative;
    font-family: 'Open sans' , sans-serif;
    font-weight: 600;
    font-size: 8vh;
    font: bold;
    top: 2vh;
    left: 4%;
    letter-spacing: 27px;
}
#app .footer #dev :last-child{
    height: 4.5vh;
    width: auto;
    position: absolute;
    left: 37vw;
    top: 19.5vh;
}

#app .footer #social-medias{
    display: grid;
    grid-template-rows: 20vh 20vh;
    position: absolute;
    top: -5vh;
    left: 70%;
    column-gap: 15px;

}
#app .footer #social-medias img{
    width: 7vw;
    height: auto;
}

.footer #social-medias :first-child{
    grid-row: 1/2;
    grid-column: 1/4;
    font-family: 'Open sans',sans-serif;
    font-weight: 700;
    font-size: 8vh;
    color: #ffffff;
}

.footer #social-medias img:nth-child(1){
    grid-row: 2/3;
    grid-column: 1/2;
}
.footer #social-medias img:nth-child(2){
    grid-row: 2/3;
    grid-column: 2/3;
}
.footer #social-medias img:nth-child(3){
    grid-row: 2/3;
    grid-column: 3/4;
} 
/* footer container  end*/

/* ---------------------------------------------------------- */

/* menu-bar container start */
#app .header #menu-bar{
    visibility: hidden;
    display: grid;
    grid-template-columns: repeat(2, 20vw);
    grid-template-rows: repeat(8, 2vh);
    row-gap: 45px;
    column-gap: 10px;
    background-color: rgba(255, 255, 255,0.2);
    top: 12vh;
    width: 55vw;
    height: 65vh;
    z-index: 200;
    position: relative;
    left: -25vw;
    border-radius: 10px;
    cursor:pointer;
    align-items: center;
    justify-content: center;
}
#app .header #menu-bar p{
    display: flex;
    left: 0vw;
    top: 2.5vh;
    background-color: rgba(0, 74, 173,0.9);
    height: 6vh;
    font-size: 20px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

#menu-bar:nth-child(1){
    grid-row:1/2;
    grid-column: 1/2;
}

#menu-bar:nth-child(2){
    grid-row:1/2;
    grid-column: 2/3;
}
#menu-bar:nth-child(3){
    grid-row:2/3;
    grid-column: 1/2;
}
#menu-bar:nth-child(4){
    grid-row:2/3;
    grid-column: 2/3;
}
#menu-bar:nth-child(5){
    grid-row:3/4;
    grid-column: 1/2;
}
#menu-bar:nth-child(6){
    grid-row:3/4;
    grid-column: 2/3;
}
#menu-bar:nth-child(7){
    grid-row:4/5;
    grid-column: 1/2;
}

#menu-bar:nth-child(8){
    grid-row:4/5;
    grid-column: 2/3;
}
#menu-bar:nth-child(9){
    grid-row:5/6;
    grid-column: 1/2;
}
#menu-bar:nth-child(10){
    grid-row:5/6;
    grid-column: 2/3;
}
#menu-bar:nth-child(11){
    grid-row:6/7;
    grid-column: 2/3;
}
#menu-bar:nth-child(12){
    grid-row:6/7;
    grid-column: 2/3;
}
#menu-bar:nth-child(13){
    grid-row:7/8;
    grid-column: 1/2;
}

#menu-bar:nth-child(14){
    grid-row:7/8;
    grid-column: 2/3;
}
#menu-bar:nth-child(15){
    grid-row:8/9;
    grid-column: 1/2;
}
#menu-bar:nth-child(16){
    grid-row:8/9;
    grid-column: 2/3;
}

#menu-btn:hover{
    transition-property: transform;
    transition-duration: 10ms;
    transition-timing-function: linear;
    transform: scale(1.2);
}
/* menu-bar container end */

/* -------------------------------------------------------------- */

/* chat-bogt container start */
#chat-bot{
    visibility: hidden;
    width: 26vw;
    height: 73vh;
    background-color: rgb(218, 218, 218);
    position: fixed;
    border-radius: 15px;
    bottom: 0vh;
    right: 0vw;
    z-index: 100;
}

#chat-bot #header-bot{
    height: 12vh;
    background-color:  #004aad;
    border-radius: 15px;
}
#chat-bot #header-bot #cls-btn{
    position: absolute;
    height:auto;
    width: 2.5vw;
    right: 0.5vw;
    top: 0.5vw;
}
#chat-bot #header-bot #diana{
    position: absolute;
    height: 8vh;
    width: 4.5vw;
    top: 2vh;
    left: 2vw;
    border-radius:100%;
    box-shadow: 0px 0px 0px 5px white;
    float:left;
}
#chat-bot #header-bot #bot-logo{
    position: absolute;
    height:auto;
    width: 3.5vw;
    top: 0.5vh;
    left: 0.5vw;
}
#chat-bot #bot-name{
    position: absolute;
    font-size: 5vh;
    left:8vw;
    top: -2.5vh;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

#chat-bot .user{
    position: absolute;
    height: 8vh;
    width: 17.13vw;
    background-color: rgb(162, 189, 225);
    border-radius: 55px;
}

#chat-bot .user:nth-child(2){
    position: absolute;
    bottom: 4vh;
    right: 1vw;
    background-color: rgb(162, 189, 225);
}
#chat-bot .user:nth-child(3){
    bottom: 32vh;
    right: 1vw;
    background-color: rgb(162, 189, 225);
}

#chat-bot .bot{
    position: absolute;
    height: 8vh;
    width: 17.13vw;
    background-color: rgb(162, 189, 225);
    border-radius: 55px;

}
#chat-bot .bot:nth-child(4){
    bottom: 18vh;
    left: 1vw;
}
#chat-bot .bot:nth-child(5){
    top: 18vh;
    left: 1vw;
}
/* chat-bogt container end */

/* msg-header container start */
#msg-header{
    position: fixed;
    display: flex;
    width: 26vw;
    height: 8vh;
    bottom: 0vh;
    right: 0vw;
    border-radius: 10px;
    background-color: rgb(218, 218, 218);
}
#msg-header img{
    position: absolute; 
    top: 0.6vh;
    left: 1vw;
    width: 3.5vw;
    height: 6.5vh;
}
#msg-header p{
    position: absolute;
    top:-1vh;
    left: 10vh;
    font-size: 3vh;
    font-family: 'Open sans', sans-serif;
    font-weight: 800;
}
/* msg-header container end */

@media screen and (min-width:1366px) and (min-resolution: 120dpi) {
    /* adverties btn */
    #app .header #add-btn{
        position: absolute;
        width:12vw;
        left: 85vw;
        top:5vh;
    }
    /* menu-bar sizing */
    #app .header #menu-bar{
        width: 45vw;
    }
    #app .header #menu-bar p{
       top: 2vh;
    }
    /* msg-header container */
    #msg-header{
        width: 24vw;
        height: 6vh;
        bottom: 1vh;
    }
    #msg-header img{
        width: 2.5vw;
        height: 4.5vh;
    }
    #msg-header p{
        left: 4vw;
        font-size: 2.5vh;
    }
    /* footer link-img position changed */
    #app .footer #dev :last-child{
        left: 40.3vw;
    }
}

@media screen and ( max-width:768px){
    #app .header #img-logo{
        width: 8vw;
        height: 10.5vh;
    }
    #app .header #input-box{
        width: 30vw;
        height: 6vh;
        left: 5vw;
        padding: 0 0 0 15px;
        font-size: 3vh;
    }
    #app .header #search{
        width: 3.9vw;
        height: 4.7vh;
        left: 0.7vw;
    }
    #app .header p{
        left: 3vw;
    }
    #app .header #menu-btn{
        left: 3.3vw;
    }
    #app .header #add-btn{
        position: absolute;
        width: 17vw;
        left:78vw;
        top: 5vh;
    }
    #app .slide-show::after{
        width: 60vw;
        font-size:6vh;
        left: 3vw;
    }
    #app .header #menu-bar{
        z-index: 200;
        position: absolute;
        left: 25vw;
        column-gap: 50px ;
        row-gap: 35px;
    }
    #app .header #menu-bar p{
        position:relative;
        left: -2.5vw;
        top: 2vh;
        height: 6vh;
        width: 25vw;
        font-size: 10px;
    }
    #app .content-holder{
        height: 150px;
        left: 7%;
    }
    #app .content-holder p{
        font-weight: 700;  
    }
    #app .content-holder img{
        position: absolute;
        height: 120px;
        width: 130px;
    }

    #app .footer #dev :first-child{
        font-size: 4.5vh;
        left: 3.5%;
    }
    #app .footer #dev :nth-child(2){
        left: 2%;
        letter-spacing: 15px;
    }
    #app .footer #dev :last-child{
        left: 47vw;
        top: 18.2vh;
    }
    
    #app .footer #social-medias{
        top: -0.5vh;
    }
    #app .footer #social-medias img{
        width: 7vw;
        height: auto;
    }
    
    .footer #social-medias :first-child{
        position: relative;
        font-size: 6vh;
        top: 4vh;
        left: -1vw;
    }

    #msg-header{
        position: fixed;
        display: flex;
        width: 25vw;
        height: 8vh;
        bottom: 0vh;
        right: 0vw;
        border-radius: 10px;
        background-color: rgb(218, 218, 218);
    }
    #msg-header img{
        position: absolute; 
        top: 0.6vh;
        left: 1vw;
        width: 3.5vw;
        height: 6.5vh;
    }
    #msg-header p{
        top:1vh;
        left: 6vh;
        font-size: 1.8vh;
    }
    #chat-bot{
        width: 24.7vw;
        height: 55vh;
    }
    #chat-bot .user{
        height: 6vh;
    }
    #chat-bot .user:nth-child(2){
        position: absolute;
        bottom: 4vh;
    }
    #chat-bot .user:nth-child(3){
        bottom: 24vh;
    }
    
    #chat-bot .bot{
        height: 6vh;
    }
    #chat-bot .bot:nth-child(4){
        bottom: 14vh;
        left: 1vw;
    }
    #chat-bot .bot:nth-child(5){
        top: 15vh;
        left: 1vw;
    }
    #chat-bot #header-bot #diana{
        height: 8vh;
        width: 6vw;
    }
    #chat-bot #header-bot #bot-logo{
        width: 5vw;
    }
    #chat-bot #bot-name{
        visibility: hidden;
        font-size: 3vh;
        left:9vw;
        top: 0vh;
    }    
}