@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@100;200;500;600&display=swap');
:root{
    --bg-color: #e6e6e6;

    --service-holding-container-bgclr: #ffffff;
    --service-holding-container-width: 100vw;
    --service-holding-container-height:100vh;

    --service--container-bgclr: #dbdbdb;

    --top-bottom-banner-clr: rgb(0, 74, 173);

    --article-card-header-font: 'Poppins', sans-serif;
    --article-card-content-font: 'Poppins', sans-serif;
}

body{
    position: relative;
    background-color: var(--service-holding-container-bgclr);
    width: var(--service-holding-container-width);
    height: var(--service-holding-container-height);
    margin: 0 auto;
    overflow-x: hidden;
}

/* header container start*/
#app .header{
    background-color: var(--top-bottom-banner-clr) ;
    width: 100vw;
    min-width: calc(100vw / 100vw * 100);
    height: 15vh;
    min-height:15vh;
    display: flex;
    position: relative;
}
#app .header #img-logo{
    width: 5.5vw;
    height: 11vh;
    position: inherit;
    left: 2vw;
    margin-top: auto;
    margin-bottom: auto;
}
#app .header #input-box{
    background-color: var(--service-holding-container-bgclr);
    position: relative;
    width: 32.28vw;
    height: 7vh;
    left: 7vw;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 30px;
    padding: 0 0 0 40px;
    border: none;
    font-family:  'open sans' , sans-serif;
    font-size: 3.9vh;
    font-weight: 400;
    /* font: bold; */
    user-select: none;
}
#app .header #input-box::placeholder{
    position: relative;
    color: black;
    letter-spacing: 1px;
   
}
#app .header #input-box:focus{
    outline: 0;
}

#app .header #search{
    position: relative;
    width: 3vw;
    height: 6vh;
    left: 3.6vw;
    margin-top: auto;
    margin-bottom: auto;
}
#app .header p{
    position:inherit;
    color: #ffffff;
    font-size: 3.7vh;
    left: 7vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 1.7px;
    margin-top: auto;
    margin-bottom: auto;

}
#app .header #menu-btn{
    position: relative;
    width: auto;
    height: 5vh;
    margin-top: auto;
    margin-bottom: auto;
    left: 7.3vw;
}
#app .header #add-btn{
    display: flex;
    position: relative;
    color: #ffffff;
    width:14vw;
    height: 5vh;
    margin-top: auto;
    margin-bottom: auto;
    left: 40vw;
    border-radius: 15px;
    background-color: rgba(0, 0,0, 0.2);
    border: none;
    /* box-shadow: 0px 0px 8px 0px black; */
}
#app .header #add-btn p{
    position: relative;
    letter-spacing: 5px;
    font-family: 'Open sans', sans-serif;
    font-weight: 700;
    font-size: 2vh;
    left: 2.5vw;
    margin-top: auto;
    margin-bottom: auto;
}
#app .header #ad-img{
    position: absolute;
    width: 2vw;
    height: 3.3vh;
    top: 0.8vh;
    left: 0.6vw;
}
/* header container end */

/* ---------------------------------------------------------- */

/* slide-show container start */
#app .slide-show{
    display: grid;
    width: 100vw;
    height: 70vh;
}
#app .slide-show div{
    position: relative;
    width: 100vw;
    height: 70vh;
    background-size:cover;
    object-fit: fill;
    background-position: center;
    background-repeat: no-repeat;
    animation-name: slide-show;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes slide-show {
   0%{
    background-image: url(../img/slide-show-1.jpg);
    width: 100vw;
    height: 67vh;
   }
   25%{
    background-image: url(../img/slide-show-2.jpg);
    width: 100vw;
    height: 67vh;
   }
   50%{
    background-image: url(../img/slide-show-3.jpg);
    width: 100vw;
    height: 67vh;
   }
   75%{
    background-image: url(../img/slide-show-4.jpg);
    width: 100vw;
    height: 67vh;
   }
   100%{
    background-image: url(../img/slide-show-5.jpg);
    width: 100vw;
    height: 67vh;
   }
}

#app .slide-show::after{
    content: 'Now, here comes the next part “the social engineering”, now figure out a way and use some';
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #ffffff;
    width: 50vw;
    font-size:8vh;
    top: 25vh;
    z-index: 100;
    left: 5vw;
    animation-name: slide-text;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes slide-text{
    0%{
        content: 'Career Cheat Codes I Know at 36 That I Wish I Knew at 26 (A)';
    }
    25%{
        content: 'How to hack any social media account?  (B)';
    }
    50%{
        content: 'How to use chatGPT for UI/UX design: 25 examples (C)';
    }
    75%{
        content: 'How I made ~5$ per day — in Passive Income (with an android app) (D)';
    }
    100%{
        content: '@Heading chatGPT for UI/UX design: (E)';
    }
}
/* slide-show container end */

/* ---------------------------------------------------------- */

/* scroller container start */
#app #scroller{
    display: grid;
    position: relative;
    width: 100vw;
    height: 30vh;
    top: -10vh;
}
#app #scroller #scrol-indicator{
    position: relative;
    /* color: #ffffff; */
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
    top: 2vh;
    font-size:4.33vh;
    letter-spacing: 2px;
}
#app #scroller #scrol-img{
    position: relative;
    width: auto;
    top: -8vh;
    height: 8vh ;
    margin-left: auto;
    margin-right: auto;
    animation-name: drop-down;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-direction: alternate ;
    animation-iteration-count: infinite;
}
@keyframes drop-down {
    0%{
        top:-2vh;
    }
    20%{
        top:-6vh;
    }
    40%{
        top:-2vh;
    }
    60%{
        top:-6vh;
    }
    80%{
        top:-2vh;
    }
    100%{
        top:-6vh;
    }
}
/* scroller-show container end */

/* ---------------------------------------------------------- */

/* content-holder container start*/
#app .content-holder{
    display: flex;
    padding: 20px;
    position: relative;
    width: 60vw;
    height: 38vh;
    left: 10%;
    top: -5vh;
    border-radius: 40PX;
    margin-bottom: 5vh;
    background-color: var(--service--container-bgclr) ;
}
#app .content-holder h6{
    position: absolute;
    font-family: 'Open sans', sans-serif;
    font-weight: 800;
    font-size: 2.2vw;
    width: 40vw;
    left: 5%;
    top: -15%;
}
#app .content-holder p{
    position: absolute;
    font-family: 'Open sans', sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
    width: 40vw;
    left: 5%;
    top: 40%;
    font: bold;  
}
#app .content-holder img{
    position: absolute;
    height: 25vh;
    width: 13.7vw;
    float: right;
    top: 17%;
    text-align: center;
    right: 3%;
    border-color: #ffffff;
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
}
/* content-holder container end*/

/* ---------------------------------------------------------- */

/* footer container start*/
#app .footer{
    position: relative;
    background-color: var(--top-bottom-banner-clr);
    width: 100vw;
    height: 40vh;
    top: 20vh;
}
#app .footer #dev :first-child{
    position: relative;
    font-family: 'Open sans' , sans-serif;
    font-weight: 400;
    font-size: 5vh;
    font: bold;
    top: 12vh;
    left: 5%;
}
#app .footer #dev :nth-child(2){
    position: relative;
    font-family: 'Open sans' , sans-serif;
    font-weight: 600;
    font-size: 8vh;
    font: bold;
    top: 2vh;
    left: 4%;
    letter-spacing: 27px;
}
#app .footer #dev :last-child{
    height: 4.5vh;
    width: auto;
    position: relative;
    left: 37vw;
    top: -14.5vh;
}

#app .footer #social-medias{
    display: grid;
    grid-template-rows: 20vh 20vh;
    position: absolute;
    top: -5vh;
    left: 70%;
    column-gap: 15px;

}
#app .footer #social-medias img{
    width: 7vw;
    height: auto;
}

.footer #social-medias :first-child{
    grid-row: 1/2;
    grid-column: 1/4;
    font-family: 'Open sans',sans-serif;
    font-weight: 700;
    font-size: 8vh;
    color: #ffffff;
}

.footer #social-medias img:nth-child(1){
    grid-row: 2/3;
    grid-column: 1/2;
}
.footer #social-medias img:nth-child(2){
    grid-row: 2/3;
    grid-column: 2/3;
}
.footer #social-medias img:nth-child(3){
    grid-row: 2/3;
    grid-column: 3/4;
}

#app .header #menu-bar{
    visibility: hidden;
    display: grid;
    grid-template-columns: repeat(2, 20vw);
    grid-template-rows: repeat(8, 2vh);
    row-gap: 45px;
    column-gap: 10px;
    background-color: rgba(255, 255, 255,0.2);
    top: 12vh;
    width: 55vw;
    height: 65vh;
    z-index: 200;
    position: relative;
    left: -25vw;
    border-radius: 10px;
    cursor:pointer;
    justify-content: center;
}
#app .header #menu-bar p{
    display: flex;
    left: 0vw;
    top: 2.5vh;
    background-color: rgba(0, 74, 173,0.9);
    height: 6vh;
    font-size: 20px;
    border-radius: 15px;
    justify-content: center;
}

#menu-bar:nth-child(1){
    grid-row:1/2;
    grid-column: 1/2;
}

#menu-bar:nth-child(2){
    grid-row:1/2;
    grid-column: 2/3;
}
#menu-bar:nth-child(3){
    grid-row:2/3;
    grid-column: 1/2;
}
#menu-bar:nth-child(4){
    grid-row:2/3;
    grid-column: 2/3;
}
#menu-bar:nth-child(5){
    grid-row:3/4;
    grid-column: 1/2;
}
#menu-bar:nth-child(6){
    grid-row:3/4;
    grid-column: 2/3;
}
#menu-bar:nth-child(7){
    grid-row:4/5;
    grid-column: 1/2;
}

#menu-bar:nth-child(8){
    grid-row:4/5;
    grid-column: 2/3;
}
#menu-bar:nth-child(9){
    grid-row:5/6;
    grid-column: 1/2;
}
#menu-bar:nth-child(10){
    grid-row:5/6;
    grid-column: 2/3;
}
#menu-bar:nth-child(11){
    grid-row:6/7;
    grid-column: 2/3;
}
#menu-bar:nth-child(12){
    grid-row:6/7;
    grid-column: 2/3;
}
#menu-bar:nth-child(13){
    grid-row:7/8;
    grid-column: 1/2;
}

#menu-bar:nth-child(14){
    grid-row:7/8;
    grid-column: 2/3;
}
#menu-bar:nth-child(15){
    grid-row:8/9;
    grid-column: 1/2;
}
#menu-bar:nth-child(16){
    grid-row:8/9;
    grid-column: 2/3;
}

#menu-btn:hover{
    transition-property: transform;
    transition-duration: 10ms;
    transition-timing-function: linear;
    transform: scale(1.2);
}